.post-thought {
  background-color: ivory;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 2% 15% auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 4, 4);
  border-radius: 14px;
  z-index: 15;
}

.post-thought label {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
}

.post-thought textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 14px;
  margin-bottom: 10px;
  max-height: 200px;
  resize: none;
  box-sizing: border-box;
}

.post-thought button {
  background-color: #eb6198;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 14px;
  cursor: pointer;
}

.submit-heart {
  margin: 0.5rem;
}

@media (max-width: 460px) {
  .post-thought button {
    background-color: #eb6198;
    color: #fff;
    border: none;
    padding: 10px 10px;
    font-size: 1rem;
    border-radius: 14px;
    cursor: pointer;
    content: "";
  }
  .submit-heart {
    display: none;
  }
}

.post-thought button:hover {
  background-color: #0056b3;
}

/* Add styles for character count */
.post-thought p {
  font-size: 0.9rem;
  color: #333;
}

/* Red text color for character count when over 140 characters */
.post-thought p.char-count-red {
  color: #ff0000;
}
